.buy {
  text-align: center;
  position: relative;
  z-index: 1;
  color: #ffffff;

  &--section {
    padding: 40px 0 30px;
    background-image: linear-gradient(90deg, #222953 0%, #264691 100%);

    @media (min-width: $tablet) {
      padding: 50px 50px 83px;
    }

    @media (min-width: $desktop) {
      padding-top: 81px;
      padding-bottom: 81px;
    }

    .buy__finish {
      margin-bottom: 40px;

      @media (min-width: $desktop) {
        margin-bottom: 0;
      }
    }

    .buy__action {
      margin-bottom: 40px;

      @media (min-width: $desktop) {
        margin-bottom: 0;
      }
    }
  }
}

.buy__content {
  padding-left: 0;
  padding-right: 0;

  @media (min-width: $desktop) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 880px;
    margin-left: auto;
    margin-right: auto;
  }
}

.buy__finish {
  margin-bottom: 8px;
  text-align: center;

  @media (min-width: $desktop) {
    text-align: left;
    width: 270px;
  }
}

.buy__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #609cd8;
}

.buy__time {
  font-weight: bold;
  font-size: 35px;
  line-height: 40px;
  color: #ffffff;
}

.buy__meta {
  opacity: .5;
  font-size: 16px;
  color: #ffffff;
  line-height: 30px;
}

.buy__action {
  margin-bottom: 10px;

  p {
    margin: 7px 0 0;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
  }

  .btn {
    width: 280px;
    display: block;
    margin: 0 auto;
  }
}

.buy__rate {
  display: inline-flex;

  img {
    width: 85px;
    height: 85px;
    margin: 0 5px;
  }
}
