.buy {
  text-align: center;
  position: relative;
  z-index: 1;

  color: #FFF;

  &--section {
    padding: 40px 0 30px;
    background-image: linear-gradient(90deg, #222953 0%, #264691 100%);

    @media (min-width: $tablet) {
      padding: 50px 50px 83px;
    }
    @media (min-width: $desktop) {
      padding-top: 81px;
      padding-bottom: 81px;
    }

    .buy__finish {
      margin-bottom: 40px;

      @media (min-width: $desktop) {
        margin-bottom: 0;
      }
    }
    .buy__action {
      margin-bottom: 40px;

      @media (min-width: $desktop) {
        margin-bottom: 0;
      }
    }
  }
}

.buy__content {

  @media (min-width: $desktop) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    width: 880px;
    margin-left: auto;
    margin-right: auto;
  }
}

.buy__finish {
  margin-bottom: 8px;
  text-align: center;

  @media (min-width: $desktop) {
    text-align: left;
  }
}

.buy__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #609CD8;
}

.buy__time {
  font-weight: bold;
  font-size: 35px;
  line-height: 40px;
  color: #FFFFFF;
}

.buy__meta {
  opacity: 0.5;
  font-size: 16px;
  color: #FFF;
  line-height: 30px;
}

.buy__action {

  p {
    margin: 7px 0 0;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
  }

  .btn {
    width: 280px;
    height: 70px;
    margin-bottom: 7px;
  }
}

.buy__rate {
  display: inline-block;
}
