
html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: "Fira Sans", Tahoma, sans-serif;
}

.container {
  margin: 0 auto;
  // width: 300px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet) {
    width: 540px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop) {
    width: 1180px;
  }
}

p {
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 30px;
  }
}

.img-inline {
  vertical-align: middle;
}

img {
  max-width: 100%;
}
