.faq {
  &__title {
    margin-top: 75px;
    margin-bottom: 30px;

    @media (min-width: $tablet) {
      margin-top: 75px;
    }

    @media (min-width: $desktop) {
      margin-top: 80px;
      margin-bottom: 40px;
    }
  }

  &__list {
    padding: 0;
    list-style: none;

    @media (min-width: $desktop) {
      column-count: 2;
      column-gap: 20px;
    }
  }

  &__item {
    background: $c-bggray;
    border-radius: 4px;
    padding: 25px 30px;
    margin-bottom: 10px;
    page-break-inside: avoid;
    break-inside: avoid;

    @media (min-width: $desktop) {
      margin-bottom: 20px;
    }
  }

  &__question {
    font-size: 18px;
    color: $c-bglblue;
    line-height: 24px;
  }

  &__answer {
    font-size: 14px;
    line-height: 20px;

    p {
      margin: .2em 0;
    }
  }
}
