.feat-partner {
  margin-top: 30px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 33px;
  background: #e7ecf1;
  border-radius: 4px;
  text-align: center;

  p {
    margin: 0;
  }

  @media (min-width: $desktop) {
    margin-top: 90px;
  }
}

.feat-partner__logo {
  margin-top: -17px;
  margin-bottom: 5px;
}

.feat-partner__title {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
  color: #1c1d20;
}
