.fill {
  display: flex;
  height: 40px;
  margin-bottom: 40px;
  background-color: #3254a6;
  position: relative;
  z-index: 1;
}

.fill__state {
  position: relative;
  background-image: linear-gradient(to right, #3abbc3, #0697d9);
  font-size: 24px;
  color: #ffffff;
  text-align: right;
  padding: 5px;
}

.fill__count {
  font-weight: bold;
  white-space: nowrap;
}

.fill__note {
  position: absolute;
  right: 0;
  top: 100%;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  opacity: .5;
  text-align: right;
  max-width: 50vw;

  &--dynamic {
    right: auto;
    left: 0;
    width: 100%;

    @media (min-width: $desktop) {
      max-width: 920px;
    }
  }
}
