.header {
  background-image: linear-gradient(to right, $c-bgdblue, $c-bglblue);
  color: white;
  padding: 15px 0;
  position: relative;

  // height: 780px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;

    .logo img {
      width: 100px;
      height: auto;
    }
  }
}

.header__buy {
  margin-bottom: 192px;
}
