.roadshow {
  padding-top: 70px;
  background: #1c1d20;

  &__slider {
    @media (min-width: $desktop) {
      pointer-events: none;
    }
  }
}

.roadshow__container {
  position: relative;
  padding-bottom: 115px;

  @media (min-width: $desktop) {
    width: 920px;
    padding-bottom: 175px;
  }
}

.roadshow__title {
  color: #ffffff;

  @media (min-width: $desktop) {
    margin-bottom: 65px;
  }
}

.roadshow__item {
  p {
    margin-top: 0;
  }

  @media (min-width: $desktop) {
    width: 280px;
  }

  @media (max-width: $desktop - 1px) {
    &:last-child {
      display: none;
    }
  }
}

.roadshow__img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
  margin-bottom: 14px;
  background: #ffffff;
  border-radius: 4px;
}

.roadshow__name {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  line-height: 25px;
}

.roadshow__date {
  margin-bottom: 5px;
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
}

.roadshow__place {
  margin-bottom: 0;
  font-size: 16px;
  color: #777777;
  line-height: 20px;
}

.roadshow__arrows {
  .slider__arrow {
    top: 140px;

    @media (min-width: $desktop) {
      top: 210px;
    }
  }

  .slider__arrow--prev {
    left: -56px;

    @media (min-width: $desktop) {
      left: -84px;
    }
  }

  .slider__arrow--next {
    right: -56px;

    @media (min-width: $desktop) {
      right: -84px;
    }
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.roadshow__pagi {
  @media (min-width: $tablet) {
    bottom: 50px;
  }

  @media (min-width: $desktop) {
    bottom: 60px;
    display: none;
  }
}
