.sale {
  margin-bottom: 75px;
}

.sale__info {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  padding: 35px 20px 10px;

  background-image: linear-gradient(90deg, #222953 0%, #264691 100%);
  box-shadow: 0 30px 60px 0 rgba(38,70,145,0.30);
  border-radius: 4px;

  @media (min-width: $desktop) {

  }
}

.sale__item {
  width: 50%;
  text-align: center;
  margin-bottom: 30px;

  @media (min-width: $desktop) {
    width: 240px;
  }
}

.sale__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #3ABBC3;
  line-height: 30px;
}

.sale__value {
  font-size: 35px;
  font-weight: bold;
  color: #FFF;
  line-height: 30px;
}

.sale__detail {
  opacity: 0.5;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 30px;
}

.sale__list {
  margin: 30px 20px 50px;
  font-size: 16px;
  color: #1C1D20;
  line-height: 22px;

  @media (min-width: $desktop) {
    column-count: 2;
    column-gap: 50px;
    font-size: 20px;
    line-height: 30px;
  }
}

.sale__litem {
  margin-bottom: 10px;

  @media (min-width: $desktop) {
    page-break-inside: avoid;
    break-inside: avoid;
  }
}

.sale__total {}

.sale__tname {
  opacity: 0.7;
  font-weight: bold;
  font-size: 30px;
  color: #1C1D20;
  text-align: center;
  line-height: 30px;
}

.sale__data {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;

  @media (min-width: $desktop) {
    display: block;
  }
}

.sale__graph {
  flex-shrink: 0;
  width: 310px;
  height: 310px;
  border-radius: 50%;
  font-size: 0;
  background: url(../img/pie-chart.svg) no-repeat center;

  @media (min-width: $desktop) {
    display: flex;
    width: 100%;
    margin-bottom: 13px;
    border-radius: 4px;
    height: 90px;
    background: none;
    overflow: hidden;
  }
}

.sale__sect {
  display: none;
  font-size: 16px;
  line-height: 90px;
  color: rgba(#fff, .6);
  text-align: center;

  @media (min-width: $desktop) {
    display: block;
  }

  &--50 {
    background: #3ABBC3;
  }
  &--40 {
    background: #209FA7;
  }
  &--30 {
    background: #195464;
  }
  &--20 {
    background: #222953;
  }
  &--00 {
    background: #BBBCBD;
  }
}

.sale__captions {
  white-space: nowrap;

  @media (min-width: $desktop) {
    display: flex;
    align-items: center;
  }
}

.sale__bonus {
  margin-bottom: 13px;

  @media (min-width: $desktop) {
    margin-bottom: 0;
    text-align: center;
  }
}

.sale__count {
  font-size: 20px;
  color: #1C1D20;

  @media (min-width: $desktop) {
    display: none;
  }
}

.sale__val {
  font-weight: bold;
  font-size: 20px;
  color: #1C1D20;

  &--50 {
    color: #3ABBC3;
  }
  &--40 {
    color: #209FA7;
  }
  &--30 {
    color: #195464;
  }
  &--20 {
    color: #222953;
  }
  &--00 {
    color: #BBBCBD;
  }
}
