.section-header {
  color: $c-header;
  text-align: center;

  &--white {
    color: #FFF;
  }

  @media (min-width: $tablet) {
    font-size: 40px;
  }

  @media (min-width: $desktop) {
    font-size: 50px;
    margin-top: 0;
  }
}
