.section-header {
  color: $c-header;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;

  &--white {
    color: #FFF;
  }

  @media (min-width: $tablet) {
    font-size: 40px;
  }

  @media (min-width: $desktop) {
    font-size: 50px;
  }
}
