.structure {
  display: none;
  margin-bottom: 200px;
  margin-top: 150px;

  @media (min-width: $desktop) {
    display: block;
  }
}

.structure__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.structure__row {
  width: 740px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.structure__column {
  width: 340px;

  .structure__item:first-child {
    margin-bottom: 60px;
  }
}

.structure__item {
  width: 340px;
}

.structure__title {
  margin-bottom: 6px;
  font-size: 20px;
  color: #264691;
}

.structure__descr {
  font-size: 16px;
  line-height: 22px;
}
