.team {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__close {
    display: none;
  }

  &__item {
    flex-basis: 50%;
    padding: 8px;
    position: relative;

    @media (min-width: $tablet) {
      flex-basis: 25%;
    }

    &--main {
      @media (min-width: $tablet) {
        flex-basis: 33%;
      }
      flex-basis: 100%;
    }

    &--active {
      .team__info {
        position: absolute;
        left: 8px;
        right: 8px;
        z-index: 1;
      }

      .team__close {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
      }

      .team__text {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
      }
    }
  }

  &__text {
    display: none;
  }

  &__link {
    background-image: url("../img/icons/icon-linkedin.svg");
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
  }

  &__name {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin: 0;
  }

  &__job {
    margin: 0;
    opacity: .75;
    font-size: 14px;
    text-align: center;
  }
}
